.container {
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.jumbotron {
  font-style: italic;
  font-weight: 900;
}
button {
  margin-top: 20px;
}
#output {
  margin-top: 20px;
  font-size: x-large;
}

